RSBarcodesSample.xcodeproj/project.xcworkspace/xcshareddata/RSBarcodesSample.xccheckout
RSBarcodesSample.xcodeproj/project.xcworkspace/xcuserdata/schuster.xcuserdatad/UserInterfaceState.xcuserstate
RSBarcodesSample.xcodeproj/xcuserdata/schuster.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
RSBarcodesSample.xcodeproj/xcuserdata/schuster.xcuserdatad/xcschemes/xcschememanagement.plist
